@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.app-title {
  text-align: center;
  color: #4d4d4d;
  font-size: 35px;
  margin: 50px 0;
  padding: 0 10px;
  font-weight: 400;
}
.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 10px;

  .search-input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    .input-field-title {
      text-align: left;
      color: #4d4d4d;
      font-size: 22px;
      margin: 10px 0;
      font-weight: 400;
    }

    .input-field {
      min-width: 100%;
      padding: 10px;
      font-size: 18px;
      box-sizing: border-box;
      color: #000000;
      font-weight: 400;
      border: solid 1px #cccccc;
      border-radius: 10px;
      -webkit-appearance: none;
    }
  }

  .results-count {
    text-align: left;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 300;
  }

  .results {
    .result-card {
      display: flex;
      flex-direction: column;
      margin: 40px 0;
      padding: 20px;
      border: solid #cccccc 1px;
      border-radius: 10px;
    }

    .location-name {
      color: #4d4d4d;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .location-pos {
      color: #808080;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 0px 10px;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 95%;
  max-width: 600px;
  box-sizing: border-box;

  .error-heading {
    color: #ca3434;
    font-size: 22px;
    font-weight: 400;
  }

  .error-msg {
    color: #666666;
    font-size: 20px;
    font-weight: 300;
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
